# This workflow will install Python dependencies, then perform static analysis for code style and type checking.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Code Style analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@main
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@main
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        pip install -e .[dev]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Analyze code for black formatting
      run: |
        black --check .
    - name: Analyze code with pylint
      run: |
        pylint -rn -sn --recursive=y ./src --rcfile=./src/.pylintrc
        pylint -rn -sn --recursive=y ./tests --rcfile=./tests/.pylintrc
        pylint -rn -sn --recursive=y ./benchmarks --rcfile=./tests/.pylintrc